In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [184]:
eeg_data = "/content/gdrive/MyDrive/ERPdata.csv"

In [237]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import datetime as datetime
import numpy as np

In [238]:
file = open(eeg_data)
csv_reader = csv.reader(file) # no need for  delimiter

In [239]:
# just to visualize examples

In [240]:
csv_header = next(csv_reader)

In [241]:
csv_header

['subject',
 'condition',
 'Fz',
 'FCz',
 'Cz',
 'FC3',
 'FC4',
 'C3',
 'C4',
 'CP3',
 'CP4',
 'time_ms']

In [242]:
type(csv_header)

list

In [ ]:
# if you run this (in comments), then it automatically skips the first line when printing the pandas dataframe

In [243]:
# example_row_data_read = next(csv_reader)
# example_row_data = np.array(example_row_data_read)

In [244]:
# example_row_data # U10 just means 'Unicode string of maximum length 10'

In [245]:
# putting it in pandas dataframe
df = pd.read_csv(filepath_or_buffer=file, header=None, names=csv_header, skiprows=0)

In [246]:
df

,subject,condition,Fz,FCz,Cz,FC3,FC4,C3,C4,CP3,CP4,time_ms
0,1,1,5.533701,5.726507,5.469535,5.386723,4.588875,6.560092,4.542811,5.397492,5.103695,-1500.0000
1,1,1,5.651489,5.837326,5.773131,5.627975,4.822217,6.739976,4.811770,5.541357,5.379273,-1499.0234
2,1,1,5.717580,5.932924,5.948466,5.826460,4.979647,7.026199,5.053779,5.634972,5.600504,-1498.0469
3,1,1,5.703267,5.968103,5.851512,5.812192,4.992899,6.940671,5.106650,5.543577,5.589775,-1497.0703
4,1,1,5.571578,5.917541,5.812808,5.744715,4.963338,6.726491,5.158073,5.454069,5.614092,-1496.0938
...,...,...,...,...,...,...,...,...,...,...,...,...
746491,81,3,-0.401267,0.041014,-0.352556,0.712530,-0.427019,0.479170,1.041864,0.645761,-0.085649,1495.1172
746492,81,3,-0.440294,0.093863,-0.422151,0.792209,-0.469230,0.486767,0.955658,0.601938,-0.264824,1496.0938
746493,81,3,-0.466162,0.083799,-0.485091,0.799034,-0.466002,0.516740,0.972635,0.612470,-0.463196,1497.0703
746494,81,3,-0.472620,0.003017,-0.465663,0.675452,-0.408777,0.558901,0.943028,0.635287,-0.656748,1498.0469
746495,81,3,-0.496193,0.044210,-0.503998,0.711932,-0.426605,0.672328,0.805889,0.602888,-0.719264,1499.0234